[2016-01-24 15:41] lichnow opened #4 "There is no extension able to load the configuration for "dunglas_action""
config error:
``` There is no extension able to load the configuration for "dunglas_action" ```,Can not configure this bundle in config.yml

[2016-01-24 16:35] dunglas commented on #4
Are you usine the dev-master version? There configuration is a new feature not tagged yet.

[2016-01-24 18:08] lichnow commented on #4
yeah,you solved this problem

[2016-01-25 06:54] #4 closed

[2016-01-28 09:59] bpolaszek opened #5 "Add support for @Template annotation"
Since all actions must be located in the Action directory, we lose native support for @Template annotation (I mean, the @Template annotation allows to not specify a template file, then it'll guess that a simple @Template annotation on a _AppBundle\Controller\ExampleController::viewAction()_ should render _AppBundle:Example:view.html.twig_).

I had to override Symfony's TemplateGuesser for this to

[2016-01-29 08:26] dunglas commented on #5
Hi @bpolaszek, thanks for the report.

ADR terminology apart, the `Action/` directory is basically used to avoid breaking existing third party bundles and "legacy" apps using the standard controller system: the bundle iterate over registered bundles (even third party ones line SonataAdmin or FOSUser providing their own controllers) and register all classes in the `Action/` directory as services. I

[2016-01-29 16:29] bpolaszek commented on #5
Hello Kévin,

Thanks for your explanations. Everything is clearer now :)

Since I use, as many of us around here, the _FOSUserBundle_ and the _FOSRestBundle_, it indeed may not be a good idea to consider _Actions_ as _Controllers_.

I'd like to do a PR but I'm clearly out of time, and I'm not sure to do things right, since I never worked on an "exportable" bundle and I'm not comfortable with tests

[2016-01-29 16:34] dunglas commented on #5
For the naming convention, it's for 2 reasons:

* The Symfony autowiring system use a similar one (`autowired.The\Class\Name`)
* It's easier to debug (the service name is `action.` + paste the FQN here, no camelcase to snake case conversion + underscore replacement needed)

[2016-01-29 17:08] bpolaszek commented on #5
Everything's clear now.

[2016-01-30 14:24] Ener-Getick commented on #5
please see https://github.com/sensiolabs/SensioFrameworkExtraBundle/issues/398

[2016-02-02 14:13] bpolaszek opened #6 "Add support for embedded actions"
Hello,

I'm still playing with the Bundle and not having to deal with the container is really enjoyable, although PHPStorm provides auto-completion on services. It's just less coupled, and that's a good thing.

But today, I encounter an issue with something I'm not familiar with: embedding controllers (and, _in fine_, actions) into templates.

Let's say I have a list of items rendered by _AppBundl

[2016-02-03 21:31] dunglas commented on #6
Can you try `{{ render(controller('action. AppBundle\Action\ItemDeleteAction', { 'id': item.id })) }}`?

[2016-02-04 17:12] bpolaszek commented on #6
It seems to work, but it can't read the associated *@FOS\RestBundle\Controller\Annotations\View* / *@Sensio\Bundle\FrameworkExtraBundle\Configuration\Template* annotation. I'll look further to make things work.

Besides, when you don't follow the ADR pattern which recommends one action per class, and you want to call *AppBundle\Action\ItemAction::deleteAction*, is it possible?

Thanks a lot for yo

[2016-02-04 17:15] dunglas commented on #6
The fix for SensioFrameworkExtraBundle's `@Template` is ready: https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/398

For FOSRest I don't know.

For `AppBundle\Action\ItemAction::deleteAction`, yes it's possible just use the following notation:

[code]

[2016-02-04 17:16] dunglas commented on #6
Btw, you can try `action.AppBundle\Action\ItemDeleteAction:__invoke` with FOSRest but I don't know if they support controller as a service.

[2016-02-04 17:34] Ener-Getick commented on #6
The ``@View`` annotation of FOSRestBundle is linked to SensioFrameworkBundle so when https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/398 will be merged ``@View`` will be fixed too.

[2016-02-12 10:35] bpolaszek commented on #6
Hello,

I confirm this works :)
Calling` {{ render(controller('action.AppBundle\Action\ItemAction:deleteAction')) }}` inside the `@App/Item/index.html.twig` view  is OK when this controller returns a _HttpFoundation Response_ object.

On the other hand, when `action.AppBundle\Action\ItemAction:deleteAction` returns something else (like an _array_ or a _Form_ object, thus relying on _annotations_ t

[2016-03-04 22:03] Ener-Getick opened #10 "Auto-registering commands"
IMO it would be awesome to be able to auto register commands the same way as for controllers thanks to this bundle.
A lot of code would be shared with this bundle so I'm wondering if this should be included in the core or in a generic bundle allowing to auto register services more globally.

BTW @dunglas do you plan to create a PR to include your feature in the core?

Thank you for your work !

[2016-03-07 21:12] dunglas commented on #10
Yeah it would be great to have support for commands. Commands are basically... controllers taking some command line arguments in input instead of an HTTP request. WDYT about adding support command right into this bundle?

I will open a PR to add this bundle as part of the standard edition for 3.1.
symfony/symfony#16863 (itself depending of #17608) should be merged in core first.

[2016-03-07 21:38] Ener-Getick commented on #10
Seems legit to add this feature to this bundle, I'll see if I can create a PR during the week if you want me to.

And a big :+1: for your PRs :-)

[2016-03-08 13:35] J7mbo opened #11 "Controller / Action Sub-directories + Configuration"
I'm trying to place controllers in subdirectories, and I'm a little confused about the following wording in this repo:

Does it **have** to be `Action\`? I require an action in the following location:

    J7mbo\BundleName\Application\Controller\Test\IndexAction

The action looks as follows:

    class IndexAction
    {
        protected $factory;

        public function __construct(Factory $fact

[2016-03-08 13:41] J7mbo commented on #11
Actually, I just noticed the Configuration section (which for some reason is at the very bottom of the repo):

    dunglas_action:
        autodiscover:         # Autodiscover action classes stored in the configured directory of bundles and register them as service.
        enabled:   true
        directory: Action # The directory name to autodiscover in bundles.
        directories:   []     # Li

[2016-03-08 16:54] Ener-Getick commented on #11
A solution would be to change the ``directory`` setting to support multiples sub-folders.
Maybe ``autodiscovered_directories`` ?

[2016-03-11 20:58] mvrhov commented on #10
@dunglas: You have to hurry I think after tomorrows symfony hack day there will be a feature freeze. It would be nice tho have the whole ADR as a part of core symfony.

[2016-03-12 20:07] Ener-Getick commented on #10
#13 is merged

[2016-03-12 20:07] #10 closed

[2016-03-12 20:45] Ener-Getick opened #14 "Add support for more classes"
Just as a reminder, I see several things that we could automatically register:
- the event listeners located in the ``EventListener`` directory
- the serializer normalizers located in the ``Normalizer`` directory
- the cache warmers located in the ``CacheWarmer`` directory
- the form extensions located in the ``Form`` directory

To be sure to not have conflicts with existing services, I think we s

[2016-03-20 19:34] dunglas opened #16 "Problem with existing command"
When installing the `dev-master` version of the Symfony Standard Edition and clearing the cache I get the following error:

[code]

Can you take a look @Ener-Getick?

[2016-03-20 19:57] Ener-Getick commented on #16
Checking that the registered classes are not abstract should fix this issue.
BTW for the commands we can do even more and check that they implement `Symfony\Component\Console\Command\Command`

[2016-03-20 20:40] #16 closed

[2016-03-20 20:50] Ener-Getick commented on #5
BTW https://github.com/sensiolabs/SensioFrameworkExtraBundle/pull/398 is merged so this is fixed ;-)

[2016-03-20 20:52] dunglas opened #18 "Command registration is broken with setter autowiring"
With setter autowiring enabled (symfony/symfony#17608), command registration still fail:

[code]

IMO opinion, using a different directory than `Command` for autoregistered commands would be safer.

ping @Ener-Getick, what do you think?

[2016-03-20 20:56] dunglas commented on #5
Great!

[2016-03-20 20:56] #5 closed

[2016-03-20 21:06] Ener-Getick commented on #18
This seems to be a bug (``ContainerDebugCommand::setCode()`` requires a ``callable``).
Anyway you're right it would be safer to use a different standard directory... but I have no idea of another name :/

[2016-03-20 21:32] Ener-Getick commented on #18
After all some ideas came to my mind:
- ``Shell``
- ``Console``
- ``Program``
- ``Terminal``
- ``Job``
- ``Process``

WDYT ?

[2016-03-20 21:34] dunglas commented on #18
Console is nice IMO.

[2016-03-20 21:38] Ener-Getick commented on #18
ok that's fine for me too.
do you want me to open another PR ?

[2016-03-20 21:38] dunglas commented on #18
It would be nice if you have the time to do it.

[2016-03-20 21:43] Ener-Getick commented on #18
no problem, see https://github.com/dunglas/DunglasActionBundle/pull/19.

[2016-03-20 21:53] #18 closed

[2016-03-21 17:22] stof opened #21 "The compiler pass does not register resources to reload the container for added or removed controller classes"
The auto-discovery of controller services means that adding a new service or removing it needs to register container resources. Otherwise, devs will have to clear their cache manually each time they create a new controller (I even think that the routing cache will be reloaded automatically, but referencing a service not created by your bundle yet, making the experience even more confusing).

You s

[2016-03-22 00:40] weaverryan opened #27 "Autoregister *everything* under console, just don't tag non-Commands"
In `RegisterCompilerPass`, when the `console` prefix is used, it silently *doesn't* register that class as a service. That can cause some wtf. If we're going to use magic "prefixes", then it should control the tag only. We should register the service in all cases, but only apply the tag when it extends the Command class. I think that's the best level of magic.

[2016-03-22 00:52] weaverryan commented on #14
I assume this means automatically *tag* services that have a given "prefix" (not directory)?

I think this is a very interesting idea, but, is there a good way to handle things that need a tag with extra properties? For example, `kernel.event_listener`? Actually, this is the main one (most-used) that has this problem. A workaround would be to recommend a key like `event_susbcriber` and point to an

[2016-03-22 00:55] weaverryan opened #28 "Remove the ability to auto-discover across *all* bundles"
The current `autodiscover` configuration will look at directories across *all* bundles. I don't understand the point of this: third-party bundles should never use autowiring anyways.

I think we should remove this and keep *only* the `directories` key. This would allow the bundle to (potentially) be more opinionated anyways - for example in #27 - I was wondering if this was originally written beca

[2016-03-22 07:08] dunglas commented on #14
@weaverryan I like your last suggestion of adding tag by checking interfaces. I just removed the "autodiscovery" feature in #26. This wasn't possible in early versions of this bundle but thanks to the suggestion of @Ener-Getick to use the Finder Component there is no any interest for this feature now.

[2016-03-22 07:12] dunglas commented on #28
Done in #26. Perfectly make sense and remove a lot of problems due do the bundle scanning third-party bundles.

[2016-03-22 07:12] #28 closed

[2016-03-22 08:04] hason opened #30 "Remove prefix "controller.""
I prefer a FQCN name of service (same as form types).

[2016-03-22 12:19] Ener-Getick commented on #14
IMO for extra parameters, people should have their own service definition. If they want their listeners to be automatically tagged, they must implement the subscriber interface.

I like this idea, maybe a solution would be to have a map in the config to add tags in function of the interface the class implement.

:+1:, I'll submit a PR for that.

[2016-03-22 15:47] weaverryan commented on #27
Btw, the more I think about this, the more I think that the auto-discovery should typically *only* be used for classes that need to be tagged (other classes don't need auto-discovery, as you can just have them magically auto-wired by being an argument to an autowired service). If the purpose of auto-discovery were only to find certain classes and add tags to them, then it *would* make sense to che

[2016-03-22 15:58] weaverryan opened #32 "Overriding of automatic registration should be done by class name"
Situation:

1) Some directory is configured to be automatically registered as autowired service by this bundle.
2) The user eventually needs to customize one of these services.

Currently, to do that, you just configure the service using it's auto-generated name - e.g. `controller.Foo\Bar\Baz`. Instead, I'm proposing that this is done by *class* instead - i.e. as soon as I register a service with

[2016-03-22 15:58] weaverryan commented on #30
Initially, this makes sense to me.

[2016-03-22 16:01] Ener-Getick commented on #32
:+1: seems legit.
But I don't think that's much complicated (we just need a map of all classes registered).

[2016-03-22 16:05] Ener-Getick commented on #30
Why not, this would make the bundle even easier to maintain.

[2016-03-22 16:11] dunglas commented on #30
It will also ease be more intuitive to define routes in YAML:

[code]

:+1: for me. We should maybe also use this convention for simple autowired services in Symfony.

[2016-03-22 16:15] dunglas commented on #32
It makes sense. It can be implemented at the same time than #30.
It basically consist in copy/pasting/adapting this code in the bundle: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/DependencyInjection/Compiler/AutowirePass.php#L147-L170

[2016-03-22 19:09] weaverryan commented on #30
:+1: also for the automatic, autowired services done in Symfony's core.

[2016-03-23 07:22] dunglas commented on #32
After sleeping on it, I'm not sure anymore that this is good idea:

* What to do in routing system of this bundle if there are several services for the same controller class? Relying on a convention is the only way to know which service to use
* referencing services in in YAML or XML routing file will become less developper friendly: you'll need to find the customized service name of the controlle

[2016-03-23 07:40] Ener-Getick commented on #32
@dunglas I think we should throw an exception when the controller service can't be determined as the autowiring system does.
But this feature could be included directly in the core so I'm not sure this should be done here.

[2016-03-23 10:02] hason commented on #32
I created a PR for FQCN service name https://github.com/symfony/symfony/pull/18268

[2016-03-23 22:43] dunglas commented on #27
Fixed by #31

[2016-03-23 22:43] #27 closed

[2016-03-23 23:20] #21 closed

[2016-03-23 23:21] dunglas commented on #21
Thank you for the report @stof!

This is now fixed. You was right, using `FileExistenceResource` is useless because `AutowirePass` already add the class to the list of watched resources.

[2016-03-24 23:50] weaverryan commented on #32
I agree with @Ener-Getick: we should do what we always do when you try to auto-wire a class that matches multiple services: throw an exception.

The more I think about it, the more I think you're right - especially once the service name matches the FQN. This is because we will always have *some* places where we refer to the service id, so it *is* significant. This is different than with forms, whe

[2016-03-24 23:50] #32 closed

[2016-03-25 00:10] weaverryan opened #37 "Make @Route work... without needing a custom route loader"
In #29, if I understand things correctly, we basically override the `annotation` route loader type from SFWExtraBundle. And I think that means that I now can't use the `annotation` type to load a mixture of traditional and service-based controllers. This is a little wtf-y to me :). In fact, I think that maybe I can't even have this bundle *installed* and expect to be able to load non-service contr

[2016-03-25 16:19] #30 closed

[2016-03-25 16:26] dunglas commented on #37
We extend the one from Symfony core, not from SFWExtraBundle. You can mix them (there is even a test for that). Thanks to https://github.com/dunglas/DunglasActionBundle/blob/master/Routing/AnnotationDirectoryLoader.php#L41-L45, the loader from this bundle only take precedence for configured directories. And every controllers in such directories are registered as services.

[2016-03-25 16:27] dunglas commented on #11
Should be easier with the new configuration system. Closing as this issue isn't relevant anymore.

[2016-03-25 16:27] #11 closed

[2016-03-25 16:28] dunglas commented on #6
`@Template` and `@View` are now supported.

[2016-03-25 16:28] #6 closed

[2016-03-25 16:28] #14 closed

[2016-03-25 16:39] Ener-Getick commented on #32
@weaverryan @dunglas Actually, I was thinking to update directly the ``ControllerResolver``.
Thanks to https://github.com/symfony/symfony/pull/18300, we would be able to write something like:
[code]

With this, we would be able to use all the syntaxes supported by symfony (``Bundle:Controller:Action``, ...) so there wouldn't be any DX problems.

[2016-03-25 16:41] dunglas commented on #32
Yes but... If we do so, the bundle will stop working with Symfony 2.8 and 3.0.

[2016-03-25 16:43] Ener-Getick commented on #32
@dunglas I think we can integrate this in the core and continue having our own routing loader for 2.8 and 3.0.

[2016-03-25 16:48] Ener-Getick commented on #32
@dunglas BTW if I'm not wrong, https://github.com/symfony/symfony/pull/18289/files will also make this bundle's routing loaders useless.

[2016-03-25 17:12] dunglas commented on #32
@Ener-Getick, our loader will still be necessary. It actually is only needed for annotations: it add a `_controller` key pointing to the service name of the class marked with an annotation.

What we can do however, when your PR will be merged, is enhancing the loader of FWExtraBundle to find automatically the corresponding service the way you described.

[2016-03-25 20:16] Ener-Getick commented on #32
@dunglas your PR allowed to use the syntax ``class::method`` (I'm not sure this was expected) when there is a service corresponding to the controller FQCN.
I created a test case in ``symfony/symfony`` to illustrate this: https://github.com/symfony/symfony/compare/master...Ener-Getick:TEST

As we always use FQCN as service id, we don't need to use the ``service:method`` syntax in 3.1.
I ran the tes

[2016-03-25 21:02] dunglas commented on #32
As this is a bug fix that will be merged in 2.7, it will work for all versions and the Routing/ directory :)

[2016-04-19 07:50] Baldinof opened #41 "Trim `__invoke` in the default name for annoted routes"
Hi, thank you for this bundle :)

Currently, default routes names are for example `app_action_homepage__invoke`.

Would you accept a PR that trims the `__invoke`?

This will be a BC break, if some users already relies on default routes name.

[2016-04-19 07:59] dunglas commented on #41
Why not! BC breaks are still allowed at this point (1.0 hasn't be released yet).

[2016-04-19 14:31] Baldinof commented on #41
Great, I will make the PR.

[2016-04-20 15:59] foaly-nr1 opened #42 "Warn about missing configuration"
The bundle needs at least
[code]
to be present in the `config.yml` to function.

Would it be worth throwing InvalidConfigurationException if no configuration is present at all?

[2016-04-27 14:33] Baldinof commented on #41
This is harder than I though :disappointed:

I tried something [here in AnnotationClassLoader](https://github.com/Baldinof/DunglasActionBundle/commit/858b4f414390591bf44b96c510bc57033aa92149).

But if `SensioFrameworkExtraBundle` is defined before `DunglasActionBundle` in the kernel, the class will not be used.

Also when the loader from this bundle is used, `@Method` annotations are not parsed as

[2016-04-27 14:39] Ener-Getick commented on #41
IMO it's not worth it and it could create conflicts between routes.

[2016-04-27 14:44] dunglas commented on #42
It would be better if it could work with any configuration at all.

[2016-04-27 14:45] dunglas commented on #37
This bug is fixed. The last missing thing are Symfony 2.8 and 3.0 releases with this patch included.

[2016-05-03 06:38] dunglas commented on #37
Done in #43

[2016-05-03 06:38] dunglas commented on #41
Closing in favor of #37 (don't deal with the routing subsystem anymore).

[2016-05-03 06:38] #41 closed

[2016-05-04 06:39] #37 closed

[2016-05-05 09:31] hason opened #44 "Create a new release with #43"

[2016-05-05 09:33] dunglas commented on #44
I want to fix #42 first (allowing to have an empty config) and I'll tag a new release.

[2016-05-06 15:05] akomm opened #45 "This Bundle is more generic, than its name proposes"
First: thanks for this nice bundle.  :+1:  I have many __invoke & (DI)-autowire controllers. This makes it much easier.

You can actually use this for any service, if you have some generic directory-based logic.

[2016-05-06 18:00] Ener-Getick commented on #42
I ran some tests and it looked to me that it was possible to use this bundle without any configuration.
Was there an exception thrown?

[2016-05-10 07:38] dunglas commented on #45
It's true, but the main purpose on this bundle is to rework the controller layer of Symfony... I can't think to a better name.

[2016-05-10 07:39] dunglas commented on #42
Thanks for testing this @Ener-Getick. Closing for now.

[2016-05-10 07:39] #42 closed

[2016-05-10 07:42] Ener-Getick commented on #45
@dunglas maybe something with autowire ? ``DunglasAutowireBundle``?

[2016-05-10 07:54] dunglas commented on #44
Done!

[2016-05-10 07:54] #44 closed

[2016-05-10 07:54] hason commented on #44
Thanks!

[2016-05-12 10:03] bpolaszek opened #46 "Upgrade from 0.2 to 0.3 disables autowiring"
Hello Kévin,

Just tried to upgrade from 0.2 to 0.3 (using Symfony 2.8.6) but I encounter several issues:

When RTFM README.md, I notice the routing.yml should not be this anymore :
[code]
but rather:

[code]

This indeed fixes the FileLoader exception, but I have another one, that tells me it can't autowire services:

Reverting back to 0.2.0 solves the problem.
Any clue?

No emergency at all, I c

[2016-05-12 11:18] Ener-Getick commented on #46
Could you provide us more details such as your configuration, your controller and your routing file please ?

[2016-05-12 12:57] bpolaszek commented on #46
Hi Ener-Getick,

This will be a little big, but if you need this:

Here's my routing.yml:
[code]

config.yml:
[code]

And here's Synapse\CronManager\Bundle\Action\AbstractCRUDAction:
[code]

All Action classes, in the same directory, extend AbstractCRUDAction.
This config correctly works with DunglasActionBundle v0.2.0.

[2016-05-12 14:26] Ener-Getick commented on #46
The problem is that your bundle is in a sub directory and has an uncommon path.
DunglasActionBundle v0.3.0 only supports bundles in the root of your ``src`` directory (see the [``Configuration`` file](https://github.com/dunglas/DunglasActionBundle/blob/master/DependencyInjection/Configuration.php#L37-L40).

You can fix this error by updating the bundle config:
[code]

[2016-05-12 14:55] bpolaszek commented on #46
Yep! Got it.

Adding these lines wasn't enough, I also had to update `sensio/framework-extra-bundle` from `3.0.13` to `3.0.16`, remove my own `TemplateGuesser` class (related to #5) and add the following lines in `config.yml` under the `sensio_framework_extra` node:

[code]

Now everything's OK. :+1:

Thanks! :-)
Ben

[2016-05-12 14:55] #46 closed

[2016-05-13 16:44] akomm commented on #45
@Ener-Getick
it would suggest this bundle is doing the DI wiring, which it does not. It just auto creates service definitions with "autowire: true" and adds tags.

@dunglas
Name things... yes...

DunglasMakeItServiceBundle
DunglasMakeItAServiceBundle
DunglasServiceGruntBundle
DunglasServiceClerkBundle
DunglasAssignAsServiceBundle

[2016-05-14 08:21] dunglas commented on #45
This bundle already have 146 stars. I don't get the benefit of renaming it. Closing for now.

[2016-05-14 08:21] #45 closed

[2016-05-26 09:05] akomm opened #48 "[question] Different tags, same interface requirement"
Assume you use both doctrine ORM and ODB in your project.

You have subscribers: `AppBundle\Subscribers\{ODM,ORM}`

ODM subscribers need a service tag `doctrine_mongodb.odm.event_subscriber`
ORM subscribersneed a service tag `doctrine.event_subscriber`

Both have same interface requirement: `Doctrine\Common\EventSubscriber`

So you can not differentiate between them by interface.

What do you thin

[2016-05-26 15:39] Ener-Getick commented on #48
Your first solution seems better to me as this isn't usual and would complexify the bundle.

[2016-05-30 06:59] dunglas commented on #48
I agree with @Ener-Getick, solution 1 looks even cleaner from an OOP point of view. Closing for now.

[2016-05-30 06:59] #48 closed

[2016-08-03 14:19] theofidry opened #52 "Accept absolute directories"
Example taken from the documentation:

[code]

If you change that to:

[code]

Then the bundle will not find the directories... IMO there is no need to force the user to use a relative path here especially considering that in Sf SE most of the paths given are absolute.

[2016-08-04 02:23] dunglas commented on #52
It would be a nice improvement. Do you want to open a PR for that?

[2016-08-04 08:57] theofidry commented on #52
I'll add it to my PR to do list... :P Will try to do that quickly

[2016-08-22 12:23] akomm opened #54 "Additional service options"
I want to also add `public: false` property to **all** Voters.
I have the following entry:

[code]
I would not like to define all the Voter services, just because I want them all to be private.
Do you think a config key for options (excluding autowire) would be a good solution for this?

[code]

[2016-08-22 15:40] Ener-Getick commented on #54
:+1:
What about:
[code]
and make all the others private?

IMO every service should be able to be private but it was refused in the core.

[2016-08-22 16:00] dunglas commented on #54
Why not using a user-land compiler pass for that? You can do a simple check on the namespace.

[2016-08-22 16:04] Ener-Getick commented on #54
@dunglas that's indeed already possible but it complexify the installation of the bundle.
Including that here would also permit to follow the core autowiring behavior (private by default).

[2016-08-22 16:31] akomm commented on #54
:+1: private by default and public by option sounds good.

[2016-09-19 12:26] JEDIBC opened #55 "[proposal] Make AwareInterfaces injections"
Hi,

As there already is a `ContainerAwareInterface` injection in the `DunglasActionExtension::registerClass()` method, why not pushing it to the next level ?

The idea is to define in the configuration a list of `*AwareInterface` with the proper `setter` and container `id` to register the injection.

It will prevent the contructor boilerplate (most of the time) and is a convenient way of injectin

[2016-09-19 12:31] dunglas commented on #55
Symfony 3.2 will have setter injection support for autowiring. IMO it handles the same use case. WDYT?

[2016-09-19 12:56] JEDIBC commented on #55
Looks fine for me as long as you activate the `autowireSetter` flag in `DunglasActionExtension`

[2016-09-19 13:04] dunglas commented on #55
@JEDIBC yes it's planned!

[2016-09-19 13:04] #55 closed

[2016-09-22 15:45] #52 closed

[2016-09-29 07:12] iltar opened #59 "Some questions/feedback about docs/usages"
I have to admit, I've not used the package yet. Implementing this package in 1 applications is not done, would have to streamline it between apps, so here's some feedback as asked :smile:

(1) I don't use autowiring so I will need to explicitly define the service definitions. I have a lot of Controllers already registered but not under the FQCN, would this register controllers twice?

(2) Why do I

[2016-09-29 07:42] dunglas commented on #59
Hi,

Thanks for this feedback!

(1) Indeed, you'll have to: not use this bundle (its responsibility is only to register automatically the controller as a service and enable the autowiring for it) or to register controllers twice.
(2) It is basically to make (3) working :) It was not the case initially, but the name of the service has been changed to match what is done for forms internally in Symfo

[2016-09-29 08:03] iltar commented on #59
@dunglas regarding (2), isn't it possible to simply add the "class" based the service id if the class exists and is not defined in the configuration? Because this double writing down is one of the issues that's keeping me from it. I can't benefit from the automatic registering with autowiring thus it's actually double work for me to write down the classes.

This should be possible afaik :smile:
[c

[2016-09-29 18:22] Ener-Getick commented on #59
For (2), an integration with https://github.com/symfony/symfony/pull/18300 would be awesome imo (to not register already registered services). I have to find some time to reopen it...

[2016-09-29 19:34] iltar commented on #59
@Ener-Getick I'm good enough with actually storing the id = class. What about a compiler pass that iterates over all definitions that do not have a class and fill the class with the service id if `class_exists($serviceId);`?

[2016-09-29 19:44] Ener-Getick commented on #59
@iltar the benefit would be minimal here as this bundle is kind of useless if you don't use autowiring (its goal is to avoid manually defining services).
But why not in another context, it may be considered a good practice to name its services according to their FQCN. However this has to be proposed on the sf repo.

[2016-10-19 09:20] theofidry commented on #54
👎 for private services by default, I would rather just follow the Symfony convention here. As services are not private by default (although there is an issue to change that, https://github.com/symfony/symfony/issues/20048), I don't think it should be done here.

@dunglas instead of just having `tags`, why not having `services` instead to which we can append things to the service definition, i.e. t

[2016-10-30 20:14] Spomky opened #60 "Directories Injection"
Hi,

I have a little DX issue with that bundle.
My project uses the excellent [`matthiasnoback/symfony-bundle-plugins)`](https://github.com/matthiasnoback/symfony-bundle-plugins) and actions are stored in each plugin folders.

Developers  can modify the `dunglas_action.directories` configuration value to add folders containing classes.
Hoever, I think this step could be avoided by adding a compile

[2016-11-02 18:56] Ener-Getick commented on #60
That's not possible to have a service as this bundle works at compile time. However you can dynamically update this bundle configuration using an extension (with `PrependExtensionInterdace`).

[2016-11-03 08:04] dunglas commented on #60
@Ener-Getick is right, as always 🙂

[2016-11-03 08:04] #60 closed

[2016-11-03 17:19] Ener-Getick commented on #60
@dunglas I wouldn't say that :stuck_out_tongue: We learn from each other :slightly_smiling_face:

[2016-12-19 15:55] Wirone commented on #59
@dunglas I would like to ask question, so I will do it here since it's still open:

(4) What about `ParamConverter`s? In standard controller-based Symfony convention there's possibility to typehint action's argument with class supported by registered request listener, which will convert raw value to typehinted object, so it can be used directly. What about your `__invoke()`, is only `Request` pass

[2016-12-19 15:57] dunglas commented on #59
@Wirone param converter should work. There is nothing specific to `__invoke` in this bundle, it's just a standard action method and it has builtin support in Symfony.

[2016-12-19 15:59] Wirone commented on #59
Ok, thanks @dunglas. I did not use it yet, it was my first doubt after reading your post. I will give it a try in the near future :-)

[2017-01-11 21:23] dunglas commented on #59
Closing as most concerns have now been fixed or answered.

[2017-01-11 21:23] #59 closed

[2017-01-19 10:38] tommy-muehle opened #69 "Problem with Symfony 3.3-dev and magic __set_state method"
I got this issue with Symfony 3.3-dev. With Symfony 3.2.2 this code works fine.

The relevant part in the matcher class looks like this:

[code]

**Here are the source for further details**:
https://github.com/tommy-muehle/tmy.li/tree/release/0.1.0

[2017-02-02 11:29] bpolaszek opened #70 "Anonymous classes are also autowired"
Hi there,

PHP7 introduced [anonymous classes](http://php.net/manual/en/language.oop5.anonymous.php) and I wanted to play with them, until I found a bug related to DunglasActionBundle (at first I thought the problem came from [Symfony DI component](https://github.com/symfony/symfony/issues/21506))

When using an anonymous class inside an autowired-class, the bundle also tries to autowire the anony

[2017-02-20 12:32] magarzon opened #71 "A way to avoid autowiring in specific classes"
Hi.

One feature that I miss is the ability to exclude some classes of the autowiring, when a directory is added in the configuration.

Often I find myself that I have a bunch of related services that I want them to be autowired, but among this services there are utility classes that are not services, but that have a constructor and/or setters, and that they are in the same directory (as they are

[2017-02-22 13:30] magarzon commented on #54
I have created a CompilerPass for another "service option" that resolves a "problem" with the "autotag" feature: if you need to set a priority for a service, then you can't use autotag.

I have implemented an interface `PrioritizedInterface` with a method `getPriority`, and the CompilerPass searches for services with this interface and set the priority calling this method.

That way I can use auto

[2017-04-03 21:15] dunglas commented on #70
Indeed, they should be excluded.

[2017-04-03 21:16] dunglas commented on #69
Hi @tommy-muehle,

Can you reproduce this bug with the last master of Symfony?

[2017-04-04 10:17] bpolaszek commented on #71
+1 - It's a common practice to have value objects into sub-namespaces of a service, for instance:
[code]
An exclusion rule would be welcome.

[2017-04-05 11:37] GuilhemN commented on #71
Note that prototypes will be included in sf 3.3 and you'll be able to do what you want:
[code]

[2017-04-06 05:52] tommy-muehle commented on #69
Hi @dunglas,

yes, still the same with ["latest" master (ab93fea)](https://github.com/symfony/symfony/search?utf8=%E2%9C%93&q=ab93fea&type=Commits).

[2017-04-09 13:59] backbone87 opened #75 "[DX] Ease rounting generation by refering to routes by FQCN"
Insteadof `$urlGenerator->generate('long_route_name_possibly_autogenerated', $params)` maybe its possible to provide something like:
- `$urlGenerator->generator(MyAction::class, $params)`
- ´$urlGenerator[MyAction::class]($params)`
- `$myAction->route($params)`

Possible implementation strategies:
- Decorate route loader to register 2 routes (one named with autogenerated name, one with FQCN as rou

[2017-04-09 16:16] backbone87 opened #76 "[Doc] Provide best practices"
Imho it would be useful, if there are best practice documentation available. When using this bundle with the API platform, some more specific examples are provided in the API platform doc. However when using this bundle in "classic" apps with server generated views and you come from "classic" Symfony controller (and extending FrameworkBundle's `Controller`) there is almost no usage hints/best prac

[2017-04-24 08:35] akomm opened #77 "[Feat] allow omit resolver method when __invoke is implemented"
Wrong repo. Sorry.

[2017-04-24 08:36] #77 closed

[2017-05-01 17:31] ksom commented on #76
+1 especially for the CommonActionTrait. I have read something in the past that some people worked on it. Actually is there a trait to include basic controller behaviors ? Like `$this->render()` or `$this->getDoctrine()` ?

Thank you!

[2017-05-01 17:43] backbone87 commented on #76
btw. symfony 3.3 has built in support for very similar features provided by this bundle. you can read up in the official symfony blog about it.

[2017-05-12 12:22] #70 closed

[2017-06-23 12:07] SmirnovW opened #80 "Problem with updating of symfony"
Hi there, I don't know, maybe this is not a problem of DunglasActionBundle.
When I try to update symfony to 3.3.* I get next errors:

[code]

I'm using a "dunglas/action-bundle": "^0.4.1"

[2017-07-06 06:58] mvrhov commented on #80
You don't need this bundle anymore with sf 3.3. because all features from this bundle are supported natively

[2017-08-28 14:59] Drachenkaetzchen commented on #80
@mvrhov unfortunately no. It seems that Sf3.3 does not inject services to constructors, whereas this bundle does.

[2017-08-28 15:03] Drachenkaetzchen opened #81 "[Doc] Wrong hint about Symfony 3.3"
The README.md file states:

[code]

However, I find this not to be true. When upgrading to Sf3.3 and removing this bundle, any actions I have defined now stopped working, even with `autowiring` enabled. The root cause is that no services are passed to the class constructors anymore, whilst with this bundle, they do.

Unfortunately, both the blog and documentation links in that section do not provi

[2017-09-05 09:51] mvrhov commented on #80
Sf3.3 is fully autowireable

[2017-09-05 10:33] Simperfit commented on #80
@felicitus You need to enable it, but SF 3.3, 3.4 and 4.0 are fully autowireable

[2017-09-05 10:56] Drachenkaetzchen commented on #80
@Simperfit I have done so, also the defaults are set to enable autowire. I did a test with the official api platform demo, see here: https://github.com/partkeepr/demo/tree/sf33

I added a special action, and when trying to call the action, no arguments are passed. It may be a documentation problem, and I'm happy to document it once I got it working, but right now, I can't see why it doesn't work.

[2017-09-05 11:08] dunglas commented on #80
@felicitus check this out: https://github.com/api-platform/demo/pull/15

[2017-09-05 14:32] Drachenkaetzchen commented on #80
@dunglas oh I see, what I was missing is this fragment in `services.yml`:

[code]

I will prepare a documentation PR. I'm not the original author of this issue, but I believe the issue could be closed

[2017-09-05 14:34] Drachenkaetzchen commented on #80
I've also updated the demo app so hopefully this helps somebody:

https://github.com/partkeepr/demo/tree/sf33

[2017-09-05 14:35] dunglas commented on #80
@felicitus would you mind opening a PR with the update?

[2017-10-02 13:35] bpolaszek commented on #81
Hi @felicitus,

SF 3.3 implements autowiring from the work that has been done on  **DunglasActionBundle**. This means it should do exactly what you expect: having services injected into class constructors, without having to define them.

However, **DunglasActionBundle** was not imported as-is, thus the configuration node `dunglas_action` in `config.yml` becomes irrelevant.

To configure which dire

[2017-10-02 13:39] dunglas commented on #81
@bpolaszek you can use the `autoconfigure` feature: https://symfony.com/blog/new-in-symfony-3-3-service-autoconfiguration

[2017-10-02 13:42] bpolaszek commented on #81
Magical. Didn't notice the `_instanceof` part. :tada: :confetti_ball: :thumbsup:

[2018-05-14 10:11] nurtext opened #82 "Unable to resolve deprecation warning in Symfony 3.4"
Upgraded from Symfony 3.2 to 3.4 and no idea how to fix this atm.

__Warning__
User Deprecated: The "AppBundle\Action\Root" service is private, getting it from the container is deprecated since Symfony 3.2 and will fail in 4.0. You should either make the service public, or stop using the container directly and use dependency injection instead.

Is there any guide on how to resolve it?

[2018-05-14 10:21] dunglas commented on #82
This bundle is useless with Symfony 3.4, similar features have been merged in core. Just drop it and adapt your services.yaml configuration.

[2018-05-14 10:21] #82 closed, assigned to nobody

[2018-05-14 10:23] nurtext commented on #82
Thanks @dunglas